html {
  background: url(http://www.twitterevolutions.com/bgs/watercolors.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  background-color: rgba(221, 221, 221, 0.47);
  text-align: center;
  margin-top: 80px;
margin: 30px;
}

.alert {
margin: 30px;
border: 1px solid rgba(221, 221, 221, 0.67);
}

#messages{
  margin-top: 20px;
}
#connected{
  font-weight: bold;
  color: rgb(20, 186, 111);
}
.panel-default{
  margin-top: 10px;
  background-color: rgba(221, 221, 221, 0.12) !important;
}

.panel-body{
  margin-top: 10px;
  background-color: none !important;
  list-style-type: none; margin: 0; padding: 0;
}

#firstPanel{
  padding: 10px;
}
